node_modules
dist
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
DEPOT_EBICS/
z-old/
~$*
# Ignorer le fichier de suivi Excel pour éviter de commiter des données clients
# (Gardez une copie vide "DEMANDE EBICS_TEMPLATE.xlsx" si besoin)
DEMANDE EBICS.xlsx
